@model LaboratoryWork1.ViewModels.Formula

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="display: flex;">
    <form method="post" asp-controller="Home" asp-action="Index" id="form" style="display: flex; flex-direction: column; align-items: flex-start;">
        <label>Амплитуда<input type="number" name="amplitude" value="" id="amplitude" /></label>
        <label>Начальная фаза<input type="number" name="initialPhase" value="" id="initialphase" /></label>
        <label>Частота<input type="number" name="frequency" value="" id="frequency" /></label>
        <label>
            N
            <input id="range" type="range" name="n" min="20" max="2048" step="256" onchange="updateTextInput(this.value)" />
            <input type="text" id="textInput" />
        </label>
        <label><input type="checkbox" name="noise" id="noise" />Шум</label>
        <label><input type="checkbox" name="polyharmonic" id="polyharmonic"/>Полигармонический</label>
        <label><input type="radio" name="radio" value="1" checked />Гармонический</label>
        <label><input type="radio" name="radio" value="2" />Синусоида</label>
        <label><input type="radio" name="radio" value="3" />Квадратичный</label>
        <label><input type="radio" name="radio" value="4" />Треугольный</label>
        <label><input type="radio" name="radio" value="5" />Пилообразный</label>
        <button id="button" type="button" onclick="GetRequest()">Построить</button>
    </form>
    <div style="width: 700px; height: 500px;" id="chart-container">
        
    </div>


    <script src="~/js/Chart.js"></script>

    <script>
        function updateTextInput(val) {
            document.getElementById('textInput').value = val;
            GetRequest();
        }          
    
        function DrawChart(config) {
            let chartContainer = document.getElementById('chart-container')
            chartContainer.innerHTML = '';
            let canvas = document.createElement('canvas');
            chartContainer.appendChild(canvas);
            canvas.id = 'myChart';
            canvas.width = '700px';
            canvas.height = '500px';
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, config);    
        }
        function GetRequest() {
            var config = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: '',
                        backgroundColor: "#FFF",
                        borderColor: "#FFF",
                        borderWidth: 0,
                        pointBackgroundColor: "#FF0000",
                        pointBorderColor: "#FF0000",
                        lineTension: 0,
                        fill: false,
                        data: []
                    }]
                },
                options: {
                    elements: {
                        point: {
                            radius: 0.5
                        }
                    },
                    responsive: true,
                    title: {
                        display: false,
                        text: 'Chart'
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                        }],
                        yAxes: [{
                            ticks: {
                                stepSize: 1,
                            },
                            display: true,
                        }]
                    }
                }
            };
            $.get("/Home/AxisX?n=" + $("#textInput").val(),
                function (data) {                    
                    config.data.labels = data; 
                    $.get("/Home/AxisY?amplitude=" + $("#amplitude").val() + "&initialPhase=" + $("#initialphase").val() + "&frequency=" + $("#frequency").val() + "&n=" + $("#textInput").val() + "&noise=" + $('#noise').prop('checked') + "&polyharmonic=" + $('#polyharmonic').prop('checked')+"&radiobutton="+$("#form input[type='radio']:checked").val(),
                    function (data) {                    
                        config.data.datasets[0].data = data;
                        console.log(data);
                        DrawChart(config);
                    }
                    );                    
                });
                        
        }
    </script>

</div>
