@model LaboratoryWork1.ViewModels.Formula

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="display: flex;">
    <form method="post" asp-controller="Home" asp-action="Index" id="form" style="display: flex; flex-direction: column;  align-items: flex-start;">
        <div style="display: none;">
            <label>
                M
                <input id="rangeM" type="range" name="m" min="0" max="1024" step="10" value="0" onchange="updateTextInputM(this.value)" />
                <input type="text" id="textInputM" value="0" onchange="GetRequest()" style="width: 70px" />
            </label>
            <label>Амплитуда 2<input type="number" step="0.1" name="amplitude2" value="0.5" id="amplitude2" onchange="GetRequest()" style="width: 70px" /></label>
            <label>Амплитуда 3<input type="number" step="0.1" name="amplitude3" value="0.5" id="amplitude3" onchange="GetRequest()" style="width: 70px" /></label>
            <label>Амплитуда 4<input type="number" step="0.1" name="amplitude4" value="0.5" id="amplitude4" onchange="GetRequest()" style="width: 70px" /></label>
            <label>Частота 1<input type="number" step="0.1" name="frequency1" value="1" id="frequency1" onchange="GetRequest()" style="width: 70px" /></label>
            <label>Частота 2<input type="number" step="0.1" name="frequency2" value="1" id="frequency2" onchange="GetRequest()" style="width: 70px" /></label>
            <label>Частота 3<input type="number" step="0.1" name="frequency3" value="1" id="frequency3" onchange="GetRequest()" style="width: 70px" /></label>
            <label>Частота 4<input type="number" step="0.1" name="frequency4" value="1" id="frequency4" onchange="GetRequest()" style="width: 70px" /></label>
            <label><input type="checkbox" name="noise" id="noise" onchange="GetRequest()" />Шум</label>
            <label><input type="checkbox" name="line" id="line" onchange="ShowHideLine()" />Линии</label>
            <label><input type="checkbox" name="frequencym" id="frequencym" onchange="GetRequest()" />Частотная модуляция</label>
            <label><input type="checkbox" name="amplitudem" id="amplitudem" onchange="GetRequest()" />Амплитудная модуляция</label>
            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <label><input type="radio" name="radio" value="1" checked onchange="GetRequest()" />Синусоида</label>
                <label><input type="radio" name="radio" value="5" onchange="GetRequest()" />Пилообразный</label>
                <label><input type="radio" name="radio" value="3" onchange="GetRequest()" />Квадратичный</label>
                <label><input type="radio" name="radio" value="4" onchange="GetRequest()" />Треугольный</label>
                <label><input type="radio" name="radio" value="6" onchange="GetRequest()" />Синусоида + Квадратичный</label>
                <label><input type="radio" name="radio" value="7" onchange="GetRequest()" />Квадратичный + Треугольный</label>
                <label><input type="radio" name="radio" value="8" onchange="GetRequest()" />Треугольный + Пилообразный</label>
                <label><input type="radio" name="radio" value="9" onchange="GetRequest()" />Пилообразный + Синусоида</label>
                <label><input type="radio" name="radio" value="10" onchange="GetRequest()" />Синусоида + Квадратичный + Треугольный</label>
                <label><input type="radio" name="radio" value="11" onchange="GetRequest()" />Квадратичный + Треугольный + Пилообразный</label>
                <label><input type="radio" name="radio" value="12" onchange="GetRequest()" />Все сразу</label>
            </div>
        </div>
        <label>Амплитуда 1<input type="number" step="0.1" name="amplitude" value="10" id="amplitude" onchange="GetRequest()" style="width: 70px" /></label>
        <label>Частота 1<input type="number" step="0.1" name="frequency" value="10" id="frequency" onchange="GetRequest()" style="width: 70px" /></label>
        <label>Начальная фаза<input type="number" step="0.1" name="initialPhase" value="0" id="initialphase" onchange="GetRequest()" style="width: 70px" /></label>
        <label>
            N
            <input id="range" type="range" name="n" min="256" max="2048" step="256" value="256" onchange="updateTextInput(this.value)" />
            <input type="text" id="textInput" value="256" onchange="GetRequest()" style="width: 70px" />
        </label>        
        
    </form>
            <div style="width: 700px; height: 500px;" id="chart-container-1"></div>
    <script src="~/js/Chart.js"></script>

    <script>
        var dataset = {
            label: '',
            backgroundColor: "#FF0000",
            borderColor: "#FF0000",
            borderWidth: 0,
            pointBackgroundColor: "#FF0000",
            pointBorderColor: "#FF0000",
            lineTension: 0,
            fill: false,
            data: []
        }
        var config = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: []
                },
                options: {
                    elements: {
                        point: {
                            radius: 0
                        }
                    },
                    responsive: true,
                    title: {
                        display: false,
                        text: 'Chart'
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                        }],
                        yAxes: [{
                            ticks: {
                                stepSize: 1,
                            },
                            display: true,
                        }]
                    }
                }
            };
        window.onload = () => GetRequest() ;
        function updateTextInput(val) {
            document.getElementById('textInput').value = val;
            GetRequest();
        } 

        function updateTextInputM(val) {
            document.getElementById('textInputM').value = val;
            GetRequest();
        }

        function ShowHideLine() {
            if ($('#line').prop('checked')) {
                config.data.datasets[0].backgroundColor = "#FF0000";
                config.data.datasets[0].borderColor = "#FF0000";
                GetRequest();
            } else {
                config.data.datasets[0].backgroundColor = "#FFF";
                config.data.datasets[0].borderColor = "#FFF";
                GetRequest();
            }              
        }
    
        function DrawChart(config, number) {
            let chartContainer = document.getElementById('chart-container-'+ number)
            chartContainer.innerHTML = '';
            let canvas = document.createElement('canvas');
            chartContainer.appendChild(canvas);
            canvas.id = 'myChart';
            canvas.width = '700px';
            canvas.height = '500px';
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, config);    
        }

        function GetRequest() {
            $.get("/Home/AxisX?n=" + $("#textInput").val() + "&m=" + $("#textInputM").val(),
                function (data) {                    
                    config.data.labels = data.splice(0, data.length - $("#textInputM").val()); 
                    console.log(data);
                    $.get("/Home/AxisY?amplitude=" + $("#amplitude").val() + "&initialPhase=" + $("#initialphase").val() + "&frequency=" + $("#frequency").val() + "&n=" + $("#textInput").val(),
                        function (data) {
                            console.log(data);
                            config.data.datasets = [];                         
                            
                            config.data.datasets.push(Object.assign({}, dataset));
                            config.data.datasets[0].data = data;

                        DrawChart(config, 1);
                    }
                    );                    
                });
                        
        }
    </script>

</div>
